

<section class="pt-5 pb-6 text-center">
    <section class="section-opening section-opening-somos">
        <div class="background-container">
            <div class="content">
                <h1>
                    
                </h1>
                
                <h1 class="text-36 text-md-48 mb-4"style="font-size: 50px;">¿Qué es un ERP?</h1>
                <p class="text-20 text-md-24 mb-5"style="font-size: 28px;">Es un producto que puede <strong>mejorar</strong> la forma en la que una empresa funciona. Los sistemas de información ERP ayudan a <strong>integrar, estandarizar y automatizar</strong> los procesos de la empresa en una única plataforma digital accesible por todos.</p>
                
            </div>
            <div class="content1"style="margin-top: 50px;">
                <button type="button" class="btn btn-outline-secondary" style=" margin: 0 50px;color:#ffffff;">FOLLETO</button>
                <button type="button" class="btn btn-outline-secondary"style="color:#ffffff;">PETICIÓN</button>
            </div>
        </div>
    </section>
  <section><div class="background-container2">
    
    
        <h1 class="display-1">FORTIFICA TU NEGOCIO</h1>
        <h2 class="display-3 position-relative mb-5">¡Hazlo sencillo, eficiente y moderno!
          
        </h2>
        <h3 class="display-4">Con un sistema ERP, todas las partes de una empresa pueden hablar entre sí, compartir información y trabajar juntas de manera más eficiente. Desde la gestión de inventario hasta la contabilidad, desde la producción hasta la logística, todo está integrado en una única plataforma digital. Es como tener un centro de mando que coordina todas las operaciones, ¡y eso puede hacer que una empresa funcione como un reloj suizo!</h3>
        <div class="o_schedule_demo ">
      
          
      
        </div>
  </div></section>
  <section><div class="background-container3">
    
    
    <h1 class="display-1"style=" color:white;">¡CONTEMPLA DIFERENTES HORIZONTES!</h1>
    
    
    <div class="o_schedule_demo "style="display: flex;flex-direction: row;">
        <h3 class="display-4"> <br>INFORMACIÓN-DATOS-PARTIDA</h3>
        <h3 class="display-4"> Con un sistema ERP, todas las partes de una empresa pueden hablar entre sí, compartir información y trabajar juntas de manera más eficiente. Desde la gestión de inventario hasta la contabilidad, desde la producción hasta la logística, todo está integrado en una única plataforma digital. Es como tener un centro de mando que coordina todas las operaciones, ¡y eso puede hacer que una empresa funcione como un reloj suizo!</h3>
        <h3 class="display-4"> <br>DESICIONES-CONSIGNAS-METAS</h3>

  
    </div>
</div></section>
</section>