<footer class="mb-0 bg-gray-200 h-40 p-4 text-sm text-gray-600">
    <div class="container mx-auto flex flex-wrap justify-center">
      <div class="w-full md:w-1/2 xl:w-1/3 p-4">
        <h5 class="uppercase text-gray-600">Contacto</h5>
        <p>Av. Hernando Siles, La Paz, Bolivia</p>
        <p>Teléfono: 555-123-4567</p>
        
      </div>
  
      <div class="w-full md:w-1/2 xl:w-1/3 p-4">
        
        <ul class="flex justify-center">
          <li class="mr-4">
            <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-facebook-f text-lg text-gray-600 hover:text-gray-900"></i>
            </a>
          </li>
          <li class="mr-4">
            <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-twitter text-lg text-gray-600 hover:text-gray-900"></i>
            </a>
          </li>
          <li class="mr-4">
            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-instagram text-lg text-gray-600 hover:text-gray-900"></i>
            </a>
          </li>
          <li class="mr-4">
            <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-linkedin-in text-lg text-gray-600 hover:text-gray-900"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>