<body>
    <!--PRIMERA SECCION-->
    <header>
        <!--ESTE DIV CONTIENE EL TEXTO PRINCIPAL-->
        <div class="header-content container">
            <h1 class="titulo">PLANES HOSTING</h1>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vero, suscipit illo nihil fuga enim.
                Expedita neque maxime, nostrum rerum vel minima qui itaque fugit nam, cum facilis nobis quod.</P>
            <a href="#" class="btn-1">Informacion</a>

        </div>
    </header>
    <br>
    <!--SEGUNDA SECCION-->
    <!--AQUI SE PONE UNA IMAGEN TRANSPARENTE PNG PARA EL FONDO DE HOSTING-->
    <section class="coffee">
        <img class="coffee-img" src="" alt="">
    <div class="pcontent">
        <article class="ppost">
            <div class="ppost-body">
            
                <h2 class="pdescripciont">Single</h2>
                <p class="pdescripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis similique sunt molestias animi
                    illum, at quaerat ut suscipit, voluptate, fuga velit aliquid mollitia perspiciatis architecto obcaecati quis atque.
                    Illum, natus. </p>
                
            </div>
            <div class="search-container">
                <button class="btn-buscar">Buscar</button>
            </div>
        </article>
    
        <article class="ppost">
            <div class="ppost-body">
                
                <h2 class="pdescripciont">Premiun</h2>
                <p class="pdescripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis similique sunt molestias animi illum, at quaerat ut suscipit, voluptate, fuga velit aliquid mollitia perspiciatis architecto obcaecati quis atque. Illum, natus. </p>
            </div>
            <div class="search-container">
                <button class="btn-buscar">Buscar</button>
            </div>
        </article>
    
    
        <article class="ppost">
            <div class="ppost-body">
                
                <h2 class="pdescripciont">Star up</h2>
                <p class="pdescripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, fuga. Tenetur ducimus autem perspiciatis aliquid consequatur in nostrum ipsa aliquam itaque. Totam magnam eius unde quae dolores aspernatur! Doloribus, beatae. </p>
            </div>
            <div class="search-container">
                <button class="btn-buscar">Buscar</button>
            </div>
        </article>
    
    
    
    </div>
    </section>
    
    
</body>
<!--/////////////////////////////////////////////////////////////////////////////////-->
