<h1>PRODUCTOS</h1>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
</head>

<body>
    <!------------------------------------Mostrar las publicaciones--------------------------------------------->

    <section class="ppost-list">
        <div class="pcontent">
            <article class="ppost">

                <div class="ppost-body">
                    <span>fecha de la publiccaion</span>
                    <h2>Este es un subtitulo de la publicacione</h2>
                    <p class="pdescripcion">aqui ponen el texto</p>
                </div>

            </article>

            <article class="ppost">
                <div class="ppost-body">
                    <span>fecha de la publiccaion</span>
                    <h2>Este es un subtitulo de la publicacione</h2>
                    <p class="pdescripcion">aqui ponen el texto </p>
                </div>

            </article>

            <article class="ppost">


                <div class="ppost-body">
                    <span>fecha de la publiccaion</span>
                    <h2>Este es un subtitulo de la publicacione</h2>
                    <p class="pdescripcion">aqui ponen el texto </p>
                </div>

            </article>
        </div>
    </section>

</body>

</html>