<nav>
    <input type="checkbox" class="myCheckBox" id="myCheck">
    <label for="myCheck" class="checkButton">
        <i class="fa fa-bars"></i>
    </label>
    <label class="logo">LOGO</label>

    <ul>
        <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
        <li><a routerLink="/planes" routerLinkActive="active-link"> Planes Hosting</a></li>
        <li><a routerLink="/vps" routerLinkActive="active-link">Servicios Vps</a></li>
    </ul>
</nav>
<!--nav>
    <a routerLink="/home" routerLinkActive="active-link">Home</a>
    <a routerLink="/planes" routerLinkActive="active-link"> PLanes</a>
    <a routerLink="/vps" routerLinkActive="active-link">Servicios Vps</a>
</nav>-->